*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: rgb(221, 221, 221);
    width: 600px;
    height: 600px;
    margin: 10px auto;
}

.dados{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin: auto;
    border: 1px solid black;
}


.tabla{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-bottom: 5px;
}

.usuario{
    width: 50%;
    padding-left: 12px;
    border-right: 1px solid black;
}

.maquina{
    width: 50%;
    padding-left: 12px;
}

.dado{
    width: 200px;
    margin: 0 12px;
    text-align: center;
}

img{
    width: 100%;
}

.tirar{
    width: 60%;
    height: 40px;
    font-size: 20px;
    margin: auto;
}

.winer{
    padding: 5px;
    background-color: rgb(41, 236, 41);
}
